Websource â€“  https://www.kaggle.com/datasets/protobioengineering/united-states-fda-drugs-feb-2024/data
Date accessed: 10th October 2024
All FDA Drugs (United States, 1939-Present)
credit to Proto Bioengineering on kaggle.com

In [261]:
# install the required libraries for data analysis
import numpy as np
import pandas as pd

# read the data from the submissions.csv file from the kaggle website

In [262]:
# read data from the submissions.csv file and save it in a variable called submissions_data
submissions_data = pd.read_csv('/Users/h.nderitu/PyData/Capstone Project/Pydata Capstone Downloaded Datasets/All FDA Drugs (United States, 1939-Present)/submissions.csv')
print(submissions_data)

       application_number         sponsor_name                  brand_name  \
0               NDA000159                LILLY               SULFAPYRIDINE
1               NDA000159                LILLY               SULFAPYRIDINE
2               NDA000159                LILLY               SULFAPYRIDINE
3              ANDA076191                 BARR  FEXOFENADINE HYDROCHLORIDE
4              ANDA076206       ROCKWELL MEDCL                  CALCITRIOL
...                   ...                  ...                         ...
178584         ANDA076150  INTL MEDICATION SYS                   LORAZEPAM
178585         ANDA076150  INTL MEDICATION SYS                   LORAZEPAM
178586         ANDA076150  INTL MEDICATION SYS                   LORAZEPAM
178587         ANDA076150  INTL MEDICATION SYS                   LORAZEPAM
178588         ANDA076150  INTL MEDICATION SYS                   LORAZEPAM

       submission_type  submission_number submission_status  \
0                 ORIG                  1                AP
1                SUPPL                  4                AP
2                SUPPL                  3                AP
3                 ORIG                  1                AP
4                SUPPL                  6                AP
...                ...                ...               ...
178584           SUPPL                  5                AP
178585           SUPPL                  3                AP
178586           SUPPL                  1                AP
178587           SUPPL                  6                AP
178588            ORIG                  1                AP

        submission_status_date submission_class_code  \
0                     19390309                   NaN
1                     19860528              LABELING
2                     19861209              LABELING
3                     20050831                   NaN
4                     20070914              LABELING
...                        ...                   ...
178584                20220809              LABELING
178585                20200605              LABELING
178586                20120913              LABELING
178587                20240607              LABELING
178588                20041115                   NaN

       submission_class_code_description review_priority
0                                    NaN             NaN
1                               Labeling             NaN
2                               Labeling             NaN
3                                    NaN             NaN
4                               Labeling             NaN
...                                  ...             ...
178584                          Labeling        STANDARD
178585                          Labeling        STANDARD
178586                          Labeling        STANDARD
178587                          Labeling        STANDARD
178588                               NaN             NaN

[178589 rows x 10 columns]

In [263]:
submissions_data.head(10)

,application_number,sponsor_name,brand_name,submission_type,submission_number,submission_status,submission_status_date,submission_class_code,submission_class_code_description,review_priority
0,NDA000159,LILLY,SULFAPYRIDINE,ORIG,1,AP,19390309,NaN,NaN,NaN
1,NDA000159,LILLY,SULFAPYRIDINE,SUPPL,4,AP,19860528,LABELING,Labeling,NaN
2,NDA000159,LILLY,SULFAPYRIDINE,SUPPL,3,AP,19861209,LABELING,Labeling,NaN
3,ANDA076191,BARR,FEXOFENADINE HYDROCHLORIDE,ORIG,1,AP,20050831,NaN,NaN,NaN
4,ANDA076206,ROCKWELL MEDCL,CALCITRIOL,SUPPL,6,AP,20070914,LABELING,Labeling,NaN
5,ANDA076206,ROCKWELL MEDCL,CALCITRIOL,SUPPL,4,AP,20070223,LABELING,Labeling,NaN
6,ANDA076206,ROCKWELL MEDCL,CALCITRIOL,ORIG,1,AP,20030917,NaN,NaN,NaN
7,ANDA076206,ROCKWELL MEDCL,CALCITRIOL,SUPPL,7,AP,20140617,MANUF (CMC),Manufacturing (CMC),UNKNOWN
8,ANDA076211,TEVA,BENAZEPRIL HYDROCHLORIDE,SUPPL,18,AP,20150422,LABELING,Labeling,STANDARD
9,ANDA076211,TEVA,BENAZEPRIL HYDROCHLORIDE,SUPPL,16,AP,20121108,LABELING,Labeling,STANDARD

In [264]:
submissions_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178589 entries, 0 to 178588
Data columns (total 10 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   application_number                 178589 non-null  object
 1   sponsor_name                       178589 non-null  object
 2   brand_name                         178233 non-null  object
 3   submission_type                    178589 non-null  object
 4   submission_number                  178589 non-null  int64
 5   submission_status                  178589 non-null  object
 6   submission_status_date             178589 non-null  int64
 7   submission_class_code              166994 non-null  object
 8   submission_class_code_description  159508 non-null  object
 9   review_priority                    100999 non-null  object
dtypes: int64(2), object(8)
memory usage: 13.6+ MB

In [265]:
submissions_data.tail()

,application_number,sponsor_name,brand_name,submission_type,submission_number,submission_status,submission_status_date,submission_class_code,submission_class_code_description,review_priority
178584,ANDA076150,INTL MEDICATION SYS,LORAZEPAM,SUPPL,5,AP,20220809,LABELING,Labeling,STANDARD
178585,ANDA076150,INTL MEDICATION SYS,LORAZEPAM,SUPPL,3,AP,20200605,LABELING,Labeling,STANDARD
178586,ANDA076150,INTL MEDICATION SYS,LORAZEPAM,SUPPL,1,AP,20120913,LABELING,Labeling,STANDARD
178587,ANDA076150,INTL MEDICATION SYS,LORAZEPAM,SUPPL,6,AP,20240607,LABELING,Labeling,STANDARD
178588,ANDA076150,INTL MEDICATION SYS,LORAZEPAM,ORIG,1,AP,20041115,NaN,NaN,NaN

The column for submission status date is int64 instead of a date type. 

Conversion of the datatype for the submission_status_date column from int64 to a date type.

In [266]:
submissions_data['submission_status_date'] = pd.to_datetime(submissions_data['submission_status_date'], format = '%Y%m%d')

In [267]:
submissions_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178589 entries, 0 to 178588
Data columns (total 10 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   application_number                 178589 non-null  object
 1   sponsor_name                       178589 non-null  object
 2   brand_name                         178233 non-null  object
 3   submission_type                    178589 non-null  object
 4   submission_number                  178589 non-null  int64
 5   submission_status                  178589 non-null  object
 6   submission_status_date             178589 non-null  datetime64[ns]
 7   submission_class_code              166994 non-null  object
 8   submission_class_code_description  159508 non-null  object
 9   review_priority                    100999 non-null  object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 13.6+ MB

In [268]:
# check which columns are missing values
submissions_data.isnull().any()

application_number                   False
sponsor_name                         False
brand_name                            True
submission_type                      False
submission_number                    False
submission_status                    False
submission_status_date               False
submission_class_code                 True
submission_class_code_description     True
review_priority                       True
dtype: bool

4 columns with missing values;brand_name, submission_class_code, submission_class_code_description, review_priority

In [269]:
# check number of rows with missing values.
submissions_data.isnull().any(axis=1).value_counts()

False    94334
True     84255
Name: count, dtype: int64

In [270]:
# check number of columns with missing values
submissions_data.isnull().any(axis=0).value_counts()

False    6
True     4
Name: count, dtype: int64

In [271]:
# check and select all rows and columns with missing values. 
missing_values_df = submissions_data[submissions_data.isnull().any(axis=1)]
print(missing_values_df)

       application_number         sponsor_name                  brand_name  \
0               NDA000159                LILLY               SULFAPYRIDINE
1               NDA000159                LILLY               SULFAPYRIDINE
2               NDA000159                LILLY               SULFAPYRIDINE
3              ANDA076191                 BARR  FEXOFENADINE HYDROCHLORIDE
4              ANDA076206       ROCKWELL MEDCL                  CALCITRIOL
...                   ...                  ...                         ...
178580         ANDA076134   SUN PHARM INDS LTD                  LORATADINE
178581         ANDA076139                 TEVA           FOSINOPRIL SODIUM
178582         ANDA076139                 TEVA           FOSINOPRIL SODIUM
178583         ANDA076139                 TEVA           FOSINOPRIL SODIUM
178588         ANDA076150  INTL MEDICATION SYS                   LORAZEPAM

       submission_type  submission_number submission_status  \
0                 ORIG                  1                AP
1                SUPPL                  4                AP
2                SUPPL                  3                AP
3                 ORIG                  1                AP
4                SUPPL                  6                AP
...                ...                ...               ...
178580           SUPPL                  8                AP
178581            ORIG                  1                AP
178582           SUPPL                  5                AP
178583           SUPPL                  3                AP
178588            ORIG                  1                AP

       submission_status_date submission_class_code  \
0                  1939-03-09                   NaN
1                  1986-05-28              LABELING
2                  1986-12-09              LABELING
3                  2005-08-31                   NaN
4                  2007-09-14              LABELING
...                       ...                   ...
178580             2007-04-16              LABELING
178581             2003-11-25                   NaN
178582             2009-09-29              LABELING
178583             2007-05-08              LABELING
178588             2004-11-15                   NaN

       submission_class_code_description review_priority
0                                    NaN             NaN
1                               Labeling             NaN
2                               Labeling             NaN
3                                    NaN             NaN
4                               Labeling             NaN
...                                  ...             ...
178580                          Labeling             NaN
178581                               NaN             NaN
178582                          Labeling             NaN
178583                          Labeling             NaN
178588                               NaN             NaN

[84255 rows x 10 columns]

In [272]:
# check the oldest date of the submissions_data
submissions_data['submission_status_date'].min()

Timestamp('1939-02-09 00:00:00')

In [273]:
# check the latest date of the submissions_data
submissions_data['submission_status_date'].max()

Timestamp('2024-10-04 00:00:00')

In [274]:
# set the submissions_status_date column as the index column
submissions_data_date_index = submissions_data.set_index('submission_status_date')
submissions_data_date_index.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 178589 entries, 1939-03-09 to 2004-11-15
Data columns (total 9 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   application_number                 178589 non-null  object
 1   sponsor_name                       178589 non-null  object
 2   brand_name                         178233 non-null  object
 3   submission_type                    178589 non-null  object
 4   submission_number                  178589 non-null  int64
 5   submission_status                  178589 non-null  object
 6   submission_class_code              166994 non-null  object
 7   submission_class_code_description  159508 non-null  object
 8   review_priority                    100999 non-null  object
dtypes: int64(1), object(8)
memory usage: 13.6+ MB

In [275]:
submissions_data_date_index.head()

,application_number,sponsor_name,brand_name,submission_type,submission_number,submission_status,submission_class_code,submission_class_code_description,review_priority
submission_status_date,,,,,,,,,
1939-03-09,NDA000159,LILLY,SULFAPYRIDINE,ORIG,1,AP,NaN,NaN,NaN
1986-05-28,NDA000159,LILLY,SULFAPYRIDINE,SUPPL,4,AP,LABELING,Labeling,NaN
1986-12-09,NDA000159,LILLY,SULFAPYRIDINE,SUPPL,3,AP,LABELING,Labeling,NaN
2005-08-31,ANDA076191,BARR,FEXOFENADINE HYDROCHLORIDE,ORIG,1,AP,NaN,NaN,NaN
2007-09-14,ANDA076206,ROCKWELL MEDCL,CALCITRIOL,SUPPL,6,AP,LABELING,Labeling,NaN

In [276]:
submissions_data_date_index['year'] = submissions_data_date_index.index.year
submissions_data_date_index['month'] = submissions_data_date_index.index.month
submissions_data_date_index['day'] = submissions_data_date_index.index.day
submissions_data_date_index['day_of_week'] = submissions_data_date_index.index.dayofweek

In [277]:
submissions_data_date_index.head()

,application_number,sponsor_name,brand_name,submission_type,submission_number,submission_status,submission_class_code,submission_class_code_description,review_priority,year,month,day,day_of_week
submission_status_date,,,,,,,,,,,,,
1939-03-09,NDA000159,LILLY,SULFAPYRIDINE,ORIG,1,AP,NaN,NaN,NaN,1939,3,9,3
1986-05-28,NDA000159,LILLY,SULFAPYRIDINE,SUPPL,4,AP,LABELING,Labeling,NaN,1986,5,28,2
1986-12-09,NDA000159,LILLY,SULFAPYRIDINE,SUPPL,3,AP,LABELING,Labeling,NaN,1986,12,9,1
2005-08-31,ANDA076191,BARR,FEXOFENADINE HYDROCHLORIDE,ORIG,1,AP,NaN,NaN,NaN,2005,8,31,2
2007-09-14,ANDA076206,ROCKWELL MEDCL,CALCITRIOL,SUPPL,6,AP,LABELING,Labeling,NaN,2007,9,14,4

In [287]:
submissions_data_date_index.sort_index(axis=0, ascending=True, inplace=True)

In [289]:
submissions_data_date_index.tail()

,application_number,sponsor_name,brand_name,submission_type,submission_number,submission_status,submission_class_code,submission_class_code_description,review_priority,year,month,day,day_of_week
submission_status_date,,,,,,,,,,,,,
2024-10-04,ANDA214138,ALKEM LABS LTD,EVEROLIMUS,SUPPL,9,AP,LABELING,Labeling,STANDARD,2024,10,4,4
2024-10-04,NDA208081,BIOFRONTERA,AMELUZ,SUPPL,28,AP,EFFICACY,Efficacy,STANDARD,2024,10,4,4
2024-10-04,NDA020438,CHEPLAPHARM,VESANOID,SUPPL,9,AP,LABELING,Labeling,STANDARD,2024,10,4,4
2024-10-04,BLA761349,NOVARTIS PHARMS CORP,COSENTYX,SUPPL,5,AP,LABELING,Labeling,STANDARD,2024,10,4,4
2024-10-04,ANDA218427,APOPHARMA A DIV OF APOTEX INC,NaN,ORIG,1,TA,UNKNOWN,NaN,STANDARD,2024,10,4,4

a. Univariate analysis of the submissions_data

In [290]:
submissions_data_date_index['application_number'].value_counts()

application_number
NDA050138     229
NDA050141     219
NDA050317     161
NDA016367     150
NDA017441     146
             ...
ANDA204706      1
ANDA203484      1
ANDA091069      1
ANDA206493      1
ANDA218427      1
Name: count, Length: 24977, dtype: int64

In [291]:
submissions_data_date_index['brand_name'].value_counts()

brand_name
IBUPROFEN                                    1288
HYDROCODONE BITARTRATE AND ACETAMINOPHEN     1016
ACETAMINOPHEN AND CODEINE PHOSPHATE           842
AMITRIPTYLINE HYDROCHLORIDE                   717
SODIUM CHLORIDE 0.9% IN PLASTIC CONTAINER     668
                                             ...
ACETAMINOPHEN; OXYCODONE HYDROCHLORIDE          1
TIMOLOL                                         1
VARIBAR PUDDING                                 1
EVZIO (AUTOINJECTOR)                            1
METHOHEXITAL SODIUM                             1
Name: count, Length: 6810, dtype: int64

In [292]:
submissions_data_date_index['sponsor_name'].value_counts()

sponsor_name
WATSON LABS        4977
HOSPIRA            4944
SANDOZ             4252
HIKMA              4084
BAXTER HLTHCARE    3744
                   ...
QUESTCOR PHARMA       1
UNIV WISCONSIN        1
BEECHAM               1
INNOCOLL PHARMS       1
IPCA LABS             1
Name: count, Length: 2096, dtype: int64

In [293]:
submissions_data_date_index['submission_status'].describe()

count     178589
unique         2
top           AP
freq      177544
Name: submission_status, dtype: object

In [295]:
submissions_data_date_index['submission_class_code'].value_counts()

submission_class_code
LABELING        80264
MANUF (CMC)     65453
UNKNOWN          8019
EFFICACY         5134
REMS             2206
TYPE 1           1669
TYPE 3           1604
TYPE 5           1169
TYPE 4            369
S                 303
BIOEQUIV          216
TYPE 2            162
TYPE 6             85
MEDGAS             81
TYPE 1/4           70
TYPE 7             45
TYPE 3/4           29
TYPE 8             28
TYPE 9             25
TYPE 2/3           19
TYPE 10            15
TYPE 2/4            8
BIOSIMILAR          8
TYPE 9- BLA         6
TYPE 4/5            6
TYPE 10- BLA        1
Name: count, dtype: int64

In [296]:
submissions_data_date_index['submission_class_code_description'].value_counts()

submission_class_code_description
Labeling                                                                                            80264
Manufacturing (CMC)                                                                                 65453
Efficacy                                                                                             5134
REMS                                                                                                 2206
Type 1 - New Molecular Entity                                                                        1669
Type 3 - New Dosage Form                                                                             1604
Type 5 - New Formulation or New Manufacturer                                                         1169
Not Applicable                                                                                        542
Type 4 - New Combination                                                                              369
Supplement                                                                                            303
Bioequivalence                                                                                        216
Type 2 - New Active Ingredient                                                                        162
Type 6 - New Indication (no longer used)                                                               85
Medical Gas                                                                                            81
Type 1 - New Molecular Entity and Type 4 - New Combination                                             70
Type 7 - Drug Already Marketed without Approved NDA                                                    45
Type 3 - New Dosage Form and Type 4 - New Combination                                                  29
Type 8 - Partial Rx to OTC Switch                                                                      28
Type 9 - New Indication Submitted as Distinct NDA, Consolidated with Original NDA after Approval       25
Type 2 - New Active Ingredient and Type 3 - New Dosage Form                                            19
Type 10 - New Indication Submitted as Distinct NDA - Not Consolidated                                  15
Type 2 New Active Ingredient and Type 4 New Combination                                                 8
Type 9 - New indication submitted as distinct BLA, consolidated                                         6
New Combination and New Formulation or New Manufacturer                                                 6
Name: count, dtype: int64

In [297]:
submissions_data_date_index['review_priority'].value_counts()

review_priority
STANDARD        86294
PRIORITY        10907
UNKNOWN          2857
901 REQUIRED      928
901 ORDER          13
Name: count, dtype: int64

In [298]:
submissions_data_date_index['application_number'].value_counts()

application_number
NDA050138     229
NDA050141     219
NDA050317     161
NDA016367     150
NDA017441     146
             ...
ANDA204706      1
ANDA203484      1
ANDA091069      1
ANDA206493      1
ANDA218427      1
Name: count, Length: 24977, dtype: int64

In [301]:
submissions_data_date_index['submission_type'].value_counts()

submission_type
SUPPL    153628
ORIG      24961
Name: count, dtype: int64

2. Bivariate analysis

In [304]:
submissions_data_date_index.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 178589 entries, 1939-02-09 to 2024-10-04
Data columns (total 13 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   application_number                 178589 non-null  object
 1   sponsor_name                       178589 non-null  object
 2   brand_name                         178233 non-null  object
 3   submission_type                    178589 non-null  object
 4   submission_number                  178589 non-null  int64
 5   submission_status                  178589 non-null  object
 6   submission_class_code              166994 non-null  object
 7   submission_class_code_description  159508 non-null  object
 8   review_priority                    100999 non-null  object
 9   year                               178589 non-null  int32
 10  month                              178589 non-null  int32
 11  day                                178589 non-null  int32
 12  day_of_week                        178589 non-null  int32
dtypes: int32(4), int64(1), object(8)
memory usage: 16.4+ MB

In [313]:
submissions_data_date_index.groupby("sponsor_name")['brand_name'].count().sort_values()

sponsor_name
APOPHARMA A DIV OF APOTEX INC           0
JIANGSU HENGRUI MED                     0
BIONPHARMA INC                          0
ASTRAZENECA PHARMS                      0
SHANGHAI DESANO BIO-PHARMA CO LTD       0
                                     ...
BAXTER HLTHCARE                      3744
HIKMA                                4084
SANDOZ                               4230
HOSPIRA                              4944
WATSON LABS                          4976
Name: brand_name, Length: 2096, dtype: int64